In [1]:
%load_ext sql

In [2]:
!pip install ipython-sql==0.4.1
!pip install SQLAlchemy==1.4.49

Requirement already satisfied: ipython-sql==0.4.1 in /usr/local/lib/python3.10/dist-packages (0.4.1)
Requirement already satisfied: prettytable<1 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.7.2)
Requirement already satisfied: ipython>=1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (7.34.0)
Requirement already satisfied: sqlalchemy>=0.6.7 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.4.49)
Requirement already satisfied: sqlparse in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.5.0)
Requirement already satisfied: six in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (1.16.0)
Requirement already satisfied: ipython-genutils>=0.1.0 in /usr/local/lib/python3.10/dist-packages (from ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: setuptools>=18.5 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (67.7.2)
Requirement already satisfied: jedi>=0.16 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.19.1)
Requirement already satisfied: decorator in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.4.2)
Requirement already satisfied: pickleshare in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.7.5)
Requirement already satisfied: traitlets>=4.2 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (5.7.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (3.0.43)
Requirement already satisfied: pygments in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (2.16.1)
Requirement already satisfied: backcall in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.2.0)
Requirement already satisfied: matplotlib-inline in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (0.1.7)
Requirement already satisfied: pexpect>4.3 in /usr/local/lib/python3.10/dist-packages (from ipython>=1.0->ipython-sql==0.4.1) (4.9.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy>=0.6.7->ipython-sql==0.4.1) (3.0.3)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in /usr/local/lib/python3.10/dist-packages (from jedi>=0.16->ipython>=1.0->ipython-sql==0.4.1) (0.8.4)
Requirement already satisfied: ptyprocess>=0.5 in /usr/local/lib/python3.10/dist-packages (from pexpect>4.3->ipython>=1.0->ipython-sql==0.4.1) (0.7.0)
Requirement already satisfied: wcwidth in /usr/local/lib/python3.10/dist-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql==0.4.1) (0.2.13)
Requirement already satisfied: SQLAlchemy==1.4.49 in /usr/local/lib/python3.10/dist-packages (1.4.49)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from SQLAlchemy==1.4.49) (3.0.3)

In [3]:
%sql  postgresql://admin:StockDetail1234!@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev

In [ ]:
%%sql
SELECT nspname as schema_name
FROM pg_namespace;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
12 rows affected.

[('pg_toast',),
 ('pg_internal',),
 ('catalog_history',),
 ('pg_mv',),
 ('pg_automv',),
 ('pg_auto_copy',),
 ('pg_s3',),
 ('pg_catalog',),
 ('public',),
 ('information_schema',),
 ('raw_data',),
 ('analytics',)]

In [9]:
%%sql

CREATE TABLE raw_data.WH_REDDIT_COMMENT (
   ID INT IDENTITY(1,1) PRIMARY KEY,
   BASE_DT DATE,
   COMMENT_CONTENT VARCHAR(65535),
   COMMENT_SENTIMENT VARCHAR(10)
);

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'raw_data';

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
8 rows affected.

[('wh_finance_info',),
 ('wh_us2yt',),
 ('wh_spy',),
 ('wh_ndaq',),
 ('wh_dow',),
 ('wh_us10yt',),
 ('wh_reddit_comment',),
 ('wh_stock_price_info',)]

In [17]:
%%sql
CREATE TEMP TABLE day_comment_sentiment_percentage AS
SELECT BASE_DT,
       ROUND((SUM(CASE WHEN COMMENT_SENTIMENT = 'positive' THEN 1 ELSE 0 END) * 100.0 / COUNT(COMMENT_SENTIMENT)), 2 )AS positive_percentage
FROM raw_data.WH_REDDIT_COMMENT
GROUP BY BASE_DT
ORDER BY BASE_DT

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [10]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.WH_REDDIT_COMMENT
FROM 's3://project2-jooyeong-bucket/WH_REDDIT_COMMENT.csv'
credentials 'aws_iam_role=arn:aws:iam::381492204072:role/readshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
SELECT * FROM day_comment_sentiment_percentage
LIMIT 10;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2023, 2, 7), Decimal('1.00')),
 (datetime.date(2023, 8, 10), Decimal('1.00')),
 (datetime.date(2023, 3, 10), Decimal('1.67')),
 (datetime.date(2023, 7, 14), Decimal('0.00')),
 (datetime.date(2023, 9, 28), Decimal('0.67')),
 (datetime.date(2023, 11, 7), Decimal('0.00')),
 (datetime.date(2024, 2, 8), Decimal('0.67')),
 (datetime.date(2023, 1, 27), Decimal('0.67')),
 (datetime.date(2024, 3, 12), Decimal('0.00')),
 (datetime.date(2023, 9, 20), Decimal('0.67'))]

In [4]:
%%sql

CREATE TABLE raw_data.WH_VIX (
   ID INT IDENTITY(1,1) PRIMARY KEY,
   BASE_DT DATE,
   OPEN_PRICE FLOAT,
   HIGH_PRICE FLOAT,
   LOW_PRICE FLOAT,
   CLOSE_PRICE FLOAT,
   CHANGE_PERCENT VARCHAR(10)
);

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [6]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.WH_VIX
FROM 's3://project2-jooyeong-bucket/VIX_History.csv'
credentials 'aws_iam_role=arn:aws:iam::381492204072:role/readshift.read.s3'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [14]:
%%sql
SELECT * FROM raw_data.WH_VIX
LIMIT 10;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(65, datetime.date(2023, 1, 3), 23.09, 23.76, 22.73, 22.9, '-0.82%'),
 (193, datetime.date(2023, 1, 4), 22.93, 23.27, 21.94, 22.01, '-4.01%'),
 (321, datetime.date(2023, 1, 5), 22.2, 22.92, 21.97, 22.46, '1.17%'),
 (449, datetime.date(2023, 1, 6), 22.69, 22.9, 21.0, 21.13, '-6.88%'),
 (577, datetime.date(2023, 1, 9), 21.75, 21.98, 21.27, 21.97, '1.01%'),
 (705, datetime.date(2023, 1, 10), 22.22, 22.46, 20.58, 20.58, '-7.38%'),
 (833, datetime.date(2023, 1, 11), 20.8, 21.25, 20.62, 21.09, '1.39%'),
 (961, datetime.date(2023, 1, 12), 21.56, 21.8, 18.83, 18.83, '-12.66%'),
 (1089, datetime.date(2023, 1, 13), 19.0, 19.41, 18.01, 18.35, '-3.42%'),
 (1217, datetime.date(2023, 1, 16), 19.44, 19.63, 19.41, 19.49, '0.26%')]

In [ ]:
%%sql
SELECT * FROM raw_data.wh_ndaq
LIMIT 10;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(64, datetime.date(2024, 5, 13), Decimal('60.620'), Decimal('60.900'), Decimal('61.620'), Decimal('60.540'), '1.87M', '-0.07%'),
 (192, datetime.date(2024, 5, 10), Decimal('60.660'), Decimal('60.270'), Decimal('60.710'), Decimal('60.060'), '1.76M', '0.80%'),
 (320, datetime.date(2024, 5, 9), Decimal('60.180'), Decimal('59.900'), Decimal('60.330'), Decimal('59.810'), '1.92M', '0.45%'),
 (448, datetime.date(2024, 5, 8), Decimal('59.910'), Decimal('60.260'), Decimal('60.440'), Decimal('59.360'), '2.58M', '-1.63%'),
 (576, datetime.date(2024, 5, 7), Decimal('60.900'), Decimal('60.260'), Decimal('62.220'), Decimal('60.810'), '2.48M', '-1.18%'),
 (704, datetime.date(2024, 5, 6), Decimal('61.630'), Decimal('61.060'), Decimal('61.630'), Decimal('60.660'), '2.24M', '1.20%'),
 (832, datetime.date(2024, 5, 3), Decimal('60.900'), Decimal('60.540'), Decimal('61.130'), Decimal('59.730'), '2.37M', '1.38%'),
 (960, datetime.date(2024, 5, 2), Decimal('60.070'), Decimal('60.160'), Decimal('60.200'), Decimal('59.380'), '3.35M', '0.32%'),
 (1088, datetime.date(2024, 5, 1), Decimal('59.880'), Decimal('59.890'), Decimal('60.510'), Decimal('59.550'), '2.79M', '0.05%'),
 (1216, datetime.date(2024, 4, 30), Decimal('59.850'), Decimal('59.950'), Decimal('60.130'), Decimal('59.660'), '2.76M', '-0.38%')]

In [ ]:
%%sql
CREATE TABLE analytics.WH_STOCK_SENTIMENT_TABLE AS
SELECT
    T1.base_dt AS base_dt ,
    T1.closing_price AS nasdaq_closing_price,
    T2.closing_price AS spy_closing_price,
    T3.positive_percentage AS positive_percentage
FROM
    raw_data.wh_ndaq AS T1
JOIN
    raw_data.wh_spy AS T2
ON
    T1.base_dt = T2.base_dt
JOIN
    day_comment_sentiment_percentage AS T3
ON
    T1.base_dt = T3.base_dt;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql
SELECT * FROM analytics.WH_STOCK_SENTIMENT_TABLE
LIMIT 10;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
10 rows affected.

[(datetime.date(2023, 2, 21), Decimal('56.780'), Decimal('399.090'), Decimal('0.33')),
 (datetime.date(2023, 3, 9), Decimal('54.320'), Decimal('391.560'), Decimal('0.67')),
 (datetime.date(2023, 3, 15), Decimal('51.910'), Decimal('389.280'), Decimal('0.33')),
 (datetime.date(2024, 5, 7), Decimal('60.900'), Decimal('517.340'), Decimal('0.33')),
 (datetime.date(2023, 1, 4), Decimal('61.650'), Decimal('383.760'), Decimal('1.00')),
 (datetime.date(2024, 5, 3), Decimal('60.900'), Decimal('511.290'), Decimal('0.00')),
 (datetime.date(2023, 1, 6), Decimal('61.650'), Decimal('388.080'), Decimal('0.67')),
 (datetime.date(2023, 2, 2), Decimal('60.570'), Decimal('416.780'), Decimal('0.33')),
 (datetime.date(2023, 3, 17), Decimal('52.750'), Decimal('389.990'), Decimal('0.00')),
 (datetime.date(2023, 8, 4), Decimal('49.450'), Decimal('446.810'), Decimal('1.00'))]

In [15]:
%%sql
ALTER TABLE raw_data.WH_VIX
RENAME COLUMN close_price TO closing_price;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [18]:
%%sql
CREATE TABLE analytics.WH_VIX_SENTIMENT_TABLE AS
SELECT
    T1.base_dt AS base_dt,
    T1.closing_price AS VIX_closing_price,
    T2.positive_percentage AS positive_percentage
FROM
    raw_data.WH_VIX AS T1
JOIN
    day_comment_sentiment_percentage AS T2
ON
    T1.base_dt = T2.base_dt

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
Done.

[]

In [ ]:
%%sql

-- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.WH_REDDIT_COMMENT
FROM 's3://devcourse-2nd-project/WH_REDDIT_COMMENT1.csv'
iam_role 'arn:aws:iam::381492204072:role/redshift_project_access,arn:aws:iam::533267375552:role/s3policyforanother'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;

 * postgresql://admin:***@devcourse-stock-detail-workgroup.381492204072.ap-northeast-2.redshift-serverless.amazonaws.com:5439/dev
   postgresql://admin:***@test-for-csv.533267375552.us-west-2.redshift-serverless.amazonaws.com:5439/dev
(psycopg2.errors.InternalError_) S3ServiceException:Access Denied,Status 403,Error AccessDenied,Rid MPVEEYQV3BWHYZCV,ExtRid +0lchRUzYreGyM4rJTIlStJ0bTiYSH8dXj8HEBpDpzH/PuoOCeR90EaDCmAsRFqQZQGv3v/jcHo=,CanRetry 1
DETAIL:
  -----------------------------------------------
  error:  S3ServiceException:Access Denied,Status 403,Error AccessDenied,Rid MPVEEYQV3BWHYZCV,ExtRid +0lchRUzYreGyM4rJTIlStJ0bTiYSH8dXj8HEBpDpzH/PuoOCeR90EaDCmAsRFqQZQGv3v/jcHo=,CanRetry 1
  code:      8001
  context:   Listing bucket=devcourse-2nd-project prefix=WH_REDDIT_COMMENT1.csv
  query:     13891[child_sequence:1]
  location:  s3_utility.cpp:701
  process:   padbmaster [pid=1073774845]
  -----------------------------------------------


[SQL: -- 아래 쿼리에서 aws_iam_role의 값은 각자 Redshift cluster에 지정한 S3 읽기 권한 ROLE의 ARN을 지정
COPY raw_data.WH_REDDIT_COMMENT
FROM 's3://devcourse-2nd-project/WH_REDDIT_COMMENT1.csv'
iam_role 'arn:aws:iam::381492204072:role/redshift_project_access,arn:aws:iam::533267375552:role/s3policyforanother'
delimiter ',' dateformat 'auto' timeformat 'auto' IGNOREHEADER 1 removequotes;]
(Background on this error at: https://sqlalche.me/e/14/2j85)